@import '../../../colors.scss';
.pagination {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    align-items: center;
    .pageButton {
        all: unset;
        padding: 0.5em;
        margin: 0.5em;
        background-color: $solid;
        border-radius: 0.3em;
        cursor: pointer;
        transition: all 0.5s;
        min-width: 8em;
        text-align: center;
        &:hover {
            box-shadow: 2px 2px 15px -4px rgba(0, 0, 0, 0.75);
        }
    }
}

.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
            background-color: $solid;
        }
    }
}